/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&display=swap');

/* Set font family for the body */
body, h1, h2, h3, p {
  font-family: 'DM Sans', sans-serif;
}

/* Style the header */
header {
  background-color: #0288D1; /* Deep Sky Blue background */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  color: #ffffff; /* White text for header */
}

/* Style the h1 inside the header */
header h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

/* Style the navigation menu */
nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s ease-in-out;
}

nav a:hover {
  background-color: #026c9e; /* Darker shade for hover */
}

/* Style the main element */
main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

/* Style the card class */
.card {
  background-color: #f0f0f0;
  border: 1px solid #8bd7d1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* About Me section */
.about-me-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.about-me-text {
  flex: 1;
}

.profile-photo {
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Resources section */
.card ul {
  list-style: none;
  padding: 0;
}

.card ul li {
  margin-bottom: 10px;
}

.card ul li a {
  color: #0288D1;
  text-decoration: none;
  transition: color 0.3s ease;
}

.card ul li a:hover {
  color: #026c9e;
}

/* Nigeria section */
.flag-container {
  text-align: center;
}

.flag {
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style the footer */
footer {
  background-color: #0288D1;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

footer p {
  margin: 5px 0;
}

/* Media query for larger views */
@media (min-width: 640px) {
  nav {
      justify-content: flex-end;
  }
  nav a {
      margin: 0 10px;
  }
}

@media screen and (min-width: 640px) {
  h1 {
      font-size: 2.5rem;
      color: navy;
  }
}
